body {
  background-color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.model-deck {
  position: relative;
  width: 80%;
  max-width: 800px;
  perspective: 1000px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carousel-track {
  display: flex;
  transform-style: preserve-3d;
  transition: transform 1s ease;
  position: relative;
  margin: 0 20px; /* Adds space between the carousel and buttons */
}

.model-card {
  background-color: lightgray;
  padding: 20px;
  min-width: 200px;
  min-height: 300px;
  margin: 0 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transform-origin: center center;
  backface-visibility: hidden;
}

.nav-button {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
  padding: 0 20px;
}

.prev { margin-right: 10px; }
.next { margin-left: 10px; }
